<section class="grid stores">

  <article class="store featured">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store featured">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

  <article class="store">
    <figure>
      <img src="https://www.nerdstickers.com.br/loja/inc/uploads/2016/07/logo_Nerd_Stickers.png" />
      <figcaption> Adesivos especiais e de alta qualidade.
        <a class="go-to-store" href="#" target="_blank"> visitar loja</a>
      </figcaption>
    </figure>
  </article>

</section>
