.grid{
  margin: 1vw auto ;
  width: 98vw;
  max-width: 1280px;
}

.stores{
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;

  &:after {
    content: "";
    flex: auto;
  }
}
