.header{
  position: fixed;
  left: 50%;
  top: 1vw;
  @include transform(translate(-50%, 0));
  margin: 0 auto;
  z-index: 2;
  min-height: 70px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  width: 97vw;
  max-width: 1266px;
  height: 100;
  background-color: $c3;
  border-radius: 3px;
}

.header-spacer{
  height: 7.5vw;
  min-height: 70px;
  margin-bottom: 1vw;
}
